<form class="crm-template-widget__form">
  <div>
    <div class="crm-template-widget__p crm-template-widget__p_caption">{{ langs.features_title }}</div>
    <div class="crm-template-widget__features">
      <ul class="crm-template-widget__features-list">
        {% for feature in langs.features %}
          <li class="crm-template-widget__feature">{{ feature|raw }}</li>
        {% endfor %}
      </ul>
    </div>
    {{ include_control('button', {
      class_name: 'js-modal-accept crm-template-widget__button',
      name: 'button',
      blue: true,
      text: langs.next_step
    }) }}
  </div>
</form>